/* styles.css */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  
html {
    /* background-color: rgb(24, 26, 27); */
}

.timeline-container {
}
  
a {
    transition: box-shadow .3s;
}

a:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}