/* styles.css */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  
html {
    /* background-color: rgb(24, 26, 27); */
}

.timeline-container {
}
  
rect {
    border-radius: 30px;
}
