/* styles.css */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  
html {
    /* background-color: rgb(24, 26, 27); */
}

.timeline-container {
}
  
a {
    transition: box-shadow .3s;
}

a:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* Tooltip container */
.tooltiptext {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip text */
.tooltiptext:hover {
  visibility: visible;
  opacity: 1;
}
